@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: 'Cairo', sans-serif;
}
textarea[id^='form-field_'] {
  text-align: left !important;
  direction: ltr !important;
}
[dir='rtl'] blockquote {
  border-right: 5px solid #ddd;
  border-left: none;
  padding-right: 1rem;
  padding-left: 0;
  text-align: right;
}

.svg-light-theme {
  filter: brightness(0) invert(1);
}

.svg-dark-theme {
  filter: brightness(0);
}

.datePicker {
  width: 100%;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
