@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: 'Cairo', sans-serif;
}
textarea[id^='form-field_'] {
  text-align: left !important;
  direction: ltr !important;
}
[dir='rtl'] blockquote {
  border-right: 5px solid #ddd;
  border-left: none;
  padding-right: 1rem;
  padding-left: 0;
  text-align: right;
}
:root {
  --color-light-input: #f7f7f7;
  --color-primary: #4f46e5;
  --color-dropdown-bg: #ffffff;
  --color-selected: #eff6ff;
  --color-focused: #dbeafe;
  --color-option-bg: #ffffff;
  --color-on-selected: #1f2937;
  --color-on-option: #4b5563;
  --color-placeholder: #9ca3af;
  --color-text: #374151;
  --color-active-option: #e0e7ff;

  --color-dark-input: #374151;
  --color-dark-dropdown-bg: #1f2937;
  --color-dark-text: #f9fafb;
}

.svg-light-theme {
  filter: brightness(0) invert(1);
}

.svg-dark-theme {
  filter: brightness(0);
}
